/* styles.css */
*{
  margin: 0;
  padding: 0;
}

body {
  background-color: oklch(27.9% 0.041 260.031);
}

header{
  height: 70px;
  display: flex;
  align-items: center;
  flex-direction: inline;
  align-items: center;
}

nav{
  justify-content: space-between;
  gap: 15px;
}

#content{
  background-color: whitesmoke;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: inline;
}

.rigth{
  background-color: transparent;
  height: 400px;
  width: 670px;
  padding-left: 3px;
  align-content: center;
}

.left{
  height: 400px;
  width: 660px;
  background-image: url(/Image/download\ \(1\).jpeg);
  filter: drop-shadow(10px 10px 15px rgba(0,0,0,0.5));
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 60% 40% 10% 70% / 50% 60% 20% 50%;
  /* haut-gauche | haut-droit | bas-droit | bas-gauche */
  align-content: center;
  padding-left: 20px;
  justify-content: space-between;
}

.left button{
  margin-left: 30px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(4, 1, 24);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
}

.left button:hover{
  background-color: rgba(175, 102, 6, 0.719);
  transition: ease-in .5s;
}
